.about-text-left {
    text-align: center;
    padding: 20% 0 20% 30%;
    font-size: 1.3rem;
}

.about-text-right {
    text-align: center;
    padding: 20% 30% 20% 0;
    font-size: 1.3rem;
}

.middle {
    background-color: var(--main-color);
    color: var(--color-light);
}

.row img {
    padding: 8%;
    width: 90%;
    margin: 0;
}

.row img[src="images/about_3.png"] {
    padding: 21% 0% 0% 4%;
    width: 80%;
}

@media screen and (max-width: 1000px) {
    .about-text-left,
    .about-text-right {
        padding: 2%;
    }
    .row img[src="images/about_3.png"] {
        display: block;
        padding: 0;
        width: 80%;
        margin: 0 auto;
    }
    .row img {
        padding: 0;
        width: 100%;
    }
}