*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --main-color: #FF9F1C;
    --color-dark: #000000;
    --color-light: #FFFFFF;
    --var-green: #CBF3F0;
}

body {
    margin: 0;
    font-family: 'Oxygen', sans-serif;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1 {
    margin: 0;
}


/* Basic Css Styles */

.container {
    padding: 1rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex: 1 0 0;
}

.col-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}


/* Navigation Bar */

.topnav {
    padding-right: 2rem;
    padding-left: 2rem;
}

.topnav-right {
    float: right;
    margin-top: 1rem;
}

.logo-img {
    width: 60px;
    float: left;
    margin-top: 0.5rem;
}

.nav-items {
    float: left;
    color: #000000;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
}

.nav-items:hover {
    color: #fff;
    background-color: #FF9F1C;
    border-radius: 2rem;
}

.nav-logo {
    color: #000000;
    text-align: center;
    padding: 0 16px;
    text-decoration: none;
    font-family: 'Rochester', cursive;
    font-size: 48px;
}

/* Social media icons */
.social_media{
    width: 120px;
    background-color: var(--var-green);
    float: right;
    border-radius: 64px 0 0 64px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.social_media img{
    width: 74px;
    margin: 8px;
}

/* Main Content */

.main-title {
    padding: 10rem 0 15rem 15rem;
    font-size: 1.3rem;
}

.main-img {
    width: 50%;
    height: 100%;
    padding-right: 3rem;
}

.main-button {
    color: #fff;
    margin-top: 1rem;
    background-color: #FF9F1C;
    padding: 11px 30px;
    border-radius: 2rem;
    border: 0;
}


/* Content - main Page */

.second-img {
    width: 50%;
    height: 100%;
    padding-left: 5rem;
}

.second-text {
    padding: 10rem 10rem 10rem 0;
    font-size: 1.3rem;
    line-height: 2rem;
}


/* Gallery Card */

.card {
    width: 90%;
    height: 100%;
    padding: 10%;
}